#app {
  // grid-area: content;
  display: grid;
  grid-template-columns: 1% 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 5% auto 1fr auto 5%;
  grid-template-areas:
    'header header header header header meanings'
    'sidebar-left progress progress progress progress meanings'
    'sidebar-left answer-no word word answer-yes meanings'
    'sidebar-left words-invalid words-invalid words-valid words-valid meanings'
    'footer footer footer footer footer meanings';
  height: 100%;
  width: 100%;
}

.progress {
  grid-area: progress;

  display: grid;
  place-content: center;

  &__text {
    font-size: clamp(1.3em, 2.5em, 4vw);
  }
}

.word {
  grid-area: word;

  display: grid;
  place-items: center;

  font-size: clamp(1em, 4.5em, 6vw);
}

.words {
  display: grid;
  place-content: stretch;

  font-size: clamp(1em, 1.5em, 7vw);

  &--valid {
    grid-area: words-valid;
  }

  &--invalid {
    grid-area: words-invalid;
  }
}

.answer {
  display: grid;
  place-content: center;

  padding: min(5em, 1.5vw);

  &--no {
    grid-area: answer-no;
  }

  &--yes {
    grid-area: answer-yes;
  }
}

.meanings {
  grid-area: meanings;

  display: grid;
  place-content: stretch;

  font-size: clamp(1em, 1.5em, 7vw);

  --background-color: #f0f0f0;
  background-color: var(--background-color);
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
}
