@import '../variables.scss';

@mixin button-background-color($background-color) {
  background-color: $background-color;
  border-color: darken($background-color, 10%);
  box-shadow: 3px 3px 5px 0 rgba(darken($background-color, 15%), 0.3);

  &:hover {
    background-color: lighten($background-color, 5%);
  }

  &:active {
    background-color: darken($background-color, 5%);
  }
}

.icon-button {
  font-size: min(4em, 6vw);
  padding: 1em;
  position: relative;
  cursor: pointer;

  &::after {
    content: attr(data-icon);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -53%);
    line-height: 0px;
  }

  border-radius: 0.15em;
  border-width: 0.4rem;
  border-style: solid;

  &--danger {
    color: #fff;
    @include button-background-color($danger-color);
  }

  &--warning {
    color: #fff;
    @include button-background-color($warning-color);
  }

  &--success {
    color: #fff;
    @include button-background-color($success-color);
  }

  &--info {
    color: #fff;
    @include button-background-color($info-color);
  }

  &--primary {
    color: #fff;
    @include button-background-color($primary-color);
  }

  &--secondary {
    color: #fff;
    @include button-background-color($secondary-color);
  }
}
