$body-background: #fafafa;
$body-text: #333;

$primary-color: #075dba;
$secondary-color: #5a5a5a;
$info-color: #1d8eb7;
$success-color: #00a650;
$warning-color: #d89015;
$danger-color: #d82f15;
